<mat-toolbar color="#fff">
  <mat-toolbar-row>
    <button mat-icon-button class="account_circle favorite-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div>
      <img
        src="../../assets/logo.png"
        style="width: auto; height: 40px; padding-top: 5px"
      />
    </div>

    <span class="example-spacer"></span>

    <!-- <mat-form-field appearance="outline" grid-column="3">
      <input
        class="rounded-input mat-input-element"
        matInput
        type="text"
        placeholder="Search"
      />
    </mat-form-field> -->
    <div class="search-box">
      <div class="search-input-container">
        <input type="text" placeholder="Search" class="search-input" />
      </div>
      <div class="search-btn-container">
        <button mat-icon-button class="video_call-icon">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>

    <span class="example-spacer"></span>

    <button mat-icon-button class="video_call-icon" (click)="openUploadVideo()">
      <mat-icon>video_call</mat-icon>
    </button>
    <button mat-icon-button class="account_circle favorite-icon">
      <mat-icon
        matBadge="9+"
        matBadgeColor="warn"
        matBadgePosition="after"
        matBadgeOverlap="true"
        matBadgeSize="small"
        >notifications</mat-icon
      >
    </button>
    <button mat-icon-button class="account_circle favorite-icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
